.sinfoContainer{
  background-color: rgb(38, 37, 46);
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  border-radius: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 20px;
}

.headingText{
  text-align: center;
}

.sinfoContainerInvisible{
  width: 100%;
  display: flex;
  justify-content: center;
}
